@import "./utils/fonts.scss";
@import "./utils/vars.scss";

@import "./modules/app.scss";
@import "./modules/modal.scss";
@import "./modules/start-page";
@import "./modules/list.scss";
@import "./modules/task.scss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    line-height: 2em;
    text-align: center;
}

.title::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin: 20px auto 0;
    background-image: url(../images/svg/typescript.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
