// @import './utils/fonts.scss';
@import './utils/vars.scss';

// Other styles

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: $main-font;
    color: $defaultTextColor;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    color: rgb(78, 46, 255);
    text-align: center;
}
