// Open Sans, regular
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Roboto, italic
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

// Roboto, bold
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Robotoegular
@font-face {
    font-family: 'Galada';
    src: url('../fonts/Galada/Galada-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
