// Fonts

$fontDefault: 'Open Sans';
$fontLogo: 'Syne Mono';

// Sizes

$mainFontSize: 16px;
$mainFontWeight: 400;
$mainFontHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 992px;
$tableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors

$colorAppBg: #f4f4f8;
$colorMain: #6e44ff;
$colorMainLight: lighten($colorMain, 10%);

$colorInputBg: #f0f2f5;
$colorBtnHover: #f0f2f5;
$colorBlue: #1a77f2;
$colorBlueDark: darken($colorBlue, 8%);
$colorGrayBlue: #f8f9fa;
$colorGray: #5a5a5a;
$colorGrayLight: #7a7a7a;
$colorRed: #ed344e;
$colorTartOrange: #fe4a49;

