// Fonts

$fontDefault: 'Open Sans';
$fontLogo: 'Syne Mono';

// Sizes

$mainFontSize: 16px;
$mainFontWeight: 400;
$mainFontHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 992px;
$tableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors

$colorViolet: #6c4bff;
$colorVioletDark: #5938f0;
$colorGray: #5a5a5a;
$colorGrayLight: #7a7a7a;
$colorRed: #ed344e;
