/* Common styles */

.todolist {
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    font-family: $fontDefault;
    background-color: $colorVioletDark;
}

.todolist__container {
    width: 720px;
    margin: 0 auto;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.page {
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
}

.current-date {
    font-size: 13px;
    color: $colorGrayLight;
}

.current-date_align_center {
    width: 100%;
    text-align: center;
}

.current-date__weekday {
    font-weight: bold;
    color: $colorGray;
}

.button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: $fontDefault;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
}

.button:hover {
    background-color: #eee;
}

.button_type_create {
    display: block;
    padding-right: 33px;
    text-transform: uppercase;
    color: $colorVioletDark;
    background-color: #fff;
    background-image: url(../images/svg/add.svg);
    background-position: calc(100% - 13px) center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    border-radius: 2px;
}

.button_type_menu {
    display: block;
    width: 28px;
    height: 28px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../images/svg/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    border-radius: 50%;
    overflow: hidden;
}

.button_type_popup {
    display: block;
    width: 100%;
    padding-left: 35px;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    background-color: #fff;
}

.button_type_ok {
    display: block;
    text-transform: uppercase;
    color: #fff;
    background-color: $colorViolet;
    border-radius: 2px;
}

.button_type_ok:hover {
    background-color: darken($colorViolet, 3%);
}

.button_type_cancel {
    display: block;
    width: 100px;
    text-transform: uppercase;
    color: $colorVioletDark;
    background-color: #fff;
    border-radius: 2px;
}

.button_type_cancel:hover {
    background-color: #eee;
}

.button_type_ok {
    display: block;
    text-transform: uppercase;
    color: #fff;
    background-color: $colorViolet;
    border-radius: 2px;
}

.button_type_delete {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../images/svg/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    border-radius: 50%;
    overflow: hidden;
}

.button_type_save:hover {
    background-color: darken($colorViolet, 3%);
}

.button_type_back {
    display: block;
    padding-left: 33px;
    text-transform: uppercase;
    color: $colorVioletDark;
    background-color: #fff;
    background-image: url(../images/svg/left-arrow.svg);
    background-position: 13px center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    border-radius: 2px;
}

.button_icon_edit {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../images/svg/edit.svg);
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
}

.button_icon_delete {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../images/svg/delete.svg);
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
}

.button_style_red {
    color: #fff;
    background-color: $colorRed;
}

.button_style_red:hover {
    background-color: darken($colorRed, 8%);
}

.button_style_red-text {
    color: $colorRed;
    background-color: #fff;
}

.button_style_red-text:hover {
    background-color: #eee;
}

.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 15px 20px rgba(0,0,0,0.15);
    border-radius: 3px;
    overflow: hidden;
}

.popup_visible {
    display: block;
}
