// Buttons

.button {
    display: block;
    padding: 7px 12px 7px 12px;
    font-family: $fontMain;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    color: $colorMain;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    transition: background-color 150ms ease-in-out;
}

.button:hover {
    background-color: #f5f5f5;
}

.button_type_ok {
    color: #fff;
    background-color: $colorMain;
}

.button_type_ok:hover {
    background-color: darken($colorMain, 3%);
}

.button_type_warning {
    color: #fff;
    background-color: $colorRed;
}

.button_type_warning:hover {
    background-color: darken($colorRed, 8%);
}

.button_type_icon-text {
    padding-left: 33px;
    background-color: #fff;
    background-position: 13px calc(50% - 1px);
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

.button_type_text-icon {
    padding-right: 33px;
    background-color: #fff;
    background-position: calc(100% - 13px) calc(50% - 1px);
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

.button_type_icon {
    width: 28px;
    height: 28px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

.button_type_icon:hover {
    background-color: inherit;
    opacity: 0.8;
}

.button_type_popup {
    width: 100%;
    padding-left: 35px;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    text-transform: capitalize;
    color: #222;
    background-color: rgba(255, 255, 255, 0);
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
}

.button_type_popup:hover {
    background-color: #eee;
}

.button_type_list {
    text-transform: none;
}

.button_type_list:hover {
    background-color: #eee;
}

.button_icon_add {
    background-image: url(../images/svg/add.svg);
}

.button_icon_minus {
    background-image: url(../images/svg/minus.svg);
}

.button_icon_left-arrow {
    background-image: url(../images/svg/left-arrow.svg);
}

.button_icon_menu {
    background-image: url(../images/svg/menu.svg);
}

.button_icon_edit {
    background-image: url(../images/svg/edit.svg);
}

.button_icon_delete {
    background-image: url(../images/svg/delete.svg);
}

.button_icon_rename {
    background-image: url(../images/svg/rename.svg);
}

.button_icon_remove {
    background-image: url(../images/svg/remove.svg);
}

.button_icon_close {
    background-image: url(../images/svg/close.svg);
}

.button_icon_grabber {
    background-image: url(../images/svg/grabber.svg);
}

.button_icon_erase {
    background-image: url(../images/svg/erase.svg);
}

.button_style_red {
    color: $colorRed;
    background-color: #fff;
}

.button_state_unactive {
    opacity: 0.5;
    filter: grayscale(1);
    pointer-events: none;
}

@media screen and (width: $smPhoneWidth) {

    .button {
        padding: 3px 8px;
        font-size: 13px;
    }

    .button_type_create {
        padding-right: 28px;
        background-position: calc(100% - 8px) center;
        background-size: 10px 10px;
    }

}