.side__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side__body {
    padding: 8px 0;
}

.my-lists__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    font-weight: bold;
}

.my-lists__title {
    color: $colorText;
}

.my-lists__body {
    overflow-y: scroll;
}

/* List button */

.list-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    position: relative;
    border-radius: 5px;
}

.list-btn:not(:last-of-type) {
    margin-bottom: 5px;
}

.list-btn__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.list-btn__open-link {
    display: block;
    width: 100%;
}

.list-btn__info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 22px;
    padding: 10px 15px;
    pointer-events: none;
}

.list-btn__name {
    margin-right: 12px;
    color: $colorText;
    text-transform: lowercase;
    pointer-events: none;
}

.list-btn__name::first-letter {
    text-transform: uppercase;
}

.list-btn__counter {
    margin-left: auto;
    font-size: 13px;
    color: $colorGrayLight;
    pointer-events: none;
}

.list-btn__menu {
    padding-right: 5px;
}

.list-btn__menu-popup {
    right: 30px;
    top: 0;
    z-index: 100;
}

.list-btn_active {
    background-color: lighten($colorMain, 34%);
}

.list-btn_active:hover {
    background-color: lighten($colorMain, 34%);
}

