/* Start page */

.start-page {
    z-index: 100;
}

/* Header */

.start-page__head {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #eee;
}

.start-page__col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 3px;
    padding-left: 36px;
    font-family: $fontLogo;
    font-size: 24px;
    color: $colorVioletDark;
    background-image: url(../images/svg/logo.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.logo__part_left {
    font-weight: bold;
}

.logo__part_right {
    color: $colorViolet;
}

/* Body */

.start-page__top-panel {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.start-page__counters {
    display: flex;
}

.start-page__counter {
    display: flex;
    align-items: center;
}

.start-page__counter:not(:last-child) {
    margin-right: 30px;
}

.start-page__counter-value {
    font-size: 18px;
    font-weight: bold;
    color: $colorVioletDark;
}

.start-page__counter-desc {
    margin-left: 10px;
    font-size: 13px;
    color: $colorViolet;
}

.start-page__links-to-lists {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
}

.start-page__caption-nothing {
    width: 100%;
    padding: 20px 0;
    font-size: 16px;
    color: $colorGrayLight;
    text-align: center;
}

.start-page__caption-nothing_hidden {
    display: none;
}

