/* Task template */

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
    transition: border 150ms ease-in-out;
}

.task:hover {
    border: 2px solid #eee;
}

.task__col {
    display: flex;
    align-items: center;
}

.task__col:not(:last-child) {
    margin-right: 20px;
}

.task__col_widdest {
    display: block;
    flex: auto;
}

.task__menu {
    display: flex;
}

.task__menu-item:not(:last-of-type) {
    margin-right: 5px;
}

.task__menu-popup {
    width: 150px;
    right: 35px;
    top: 0;
    z-index: 210;
}

.task__checkbox {
    display: none;
}

.task__checkbox-label {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: #eee;
    border-radius: 3px;
    transition: background-color 150ms ease-in-out
}

.task__checkbox:checked + .task__checkbox-label {
    background-color: $colorViolet;
}

.task__checkbox-label::before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 150ms ease-in-out;
}

.task__checkbox:checked + .task__checkbox-label::before {
    background-image: url(../images/svg/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    transform: translateY(0);
}

.task__title {
    font-size: 14px;
    font-weight: bold;
}

.task__desc {
    font-size: 13px;
    color: $colorGray;
}

/* Task adding modal window template */



/* Task editing modal window template */
