@import "./start-page";
@import "./list.scss";
@import "./task.scss";

/* Common styles */

.todolist {
    width: 100%;
    height: 100vh;
}

.todolist__container {
    width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

